<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatislearn.dao.LocationMapper">
  <resultMap id="BaseResultMap" type="com.mybatislearn.dao.model.Location">
    <id column="location_id" jdbcType="VARCHAR" property="locationId" />
    <result column="location_name" jdbcType="VARCHAR" property="locationName" />
    <result column="location_memo" jdbcType="VARCHAR" property="locationMemo" />
    <result column="location_master" jdbcType="VARCHAR" property="locationMaster" />
    <result column="location_slave" jdbcType="VARCHAR" property="locationSlave" />
    <result column="location_modi_time" jdbcType="TIMESTAMP" property="locationModiTime" />
    <result column="location_user_creater" jdbcType="VARCHAR" property="locationUserCreater" />
    <result column="location_user_master" jdbcType="VARCHAR" property="locationUserMaster" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    location_id, location_name, location_memo, location_master, location_slave, location_modi_time, 
    location_user_creater, location_user_master
  </sql>
  <select id="selectByExample" parameterType="com.mybatislearn.dao.model.LocationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from location
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from location
    where location_id = #{locationId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from location
    where location_id = #{locationId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.mybatislearn.dao.model.LocationExample">
    delete from location
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mybatislearn.dao.model.Location">
    insert into location (location_id, location_name, location_memo, 
      location_master, location_slave, location_modi_time, 
      location_user_creater, location_user_master
      )
    values (#{locationId,jdbcType=VARCHAR}, #{locationName,jdbcType=VARCHAR}, #{locationMemo,jdbcType=VARCHAR}, 
      #{locationMaster,jdbcType=VARCHAR}, #{locationSlave,jdbcType=VARCHAR}, #{locationModiTime,jdbcType=TIMESTAMP}, 
      #{locationUserCreater,jdbcType=VARCHAR}, #{locationUserMaster,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mybatislearn.dao.model.Location">
    insert into location
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="locationId != null">
        location_id,
      </if>
      <if test="locationName != null">
        location_name,
      </if>
      <if test="locationMemo != null">
        location_memo,
      </if>
      <if test="locationMaster != null">
        location_master,
      </if>
      <if test="locationSlave != null">
        location_slave,
      </if>
      <if test="locationModiTime != null">
        location_modi_time,
      </if>
      <if test="locationUserCreater != null">
        location_user_creater,
      </if>
      <if test="locationUserMaster != null">
        location_user_master,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="locationId != null">
        #{locationId,jdbcType=VARCHAR},
      </if>
      <if test="locationName != null">
        #{locationName,jdbcType=VARCHAR},
      </if>
      <if test="locationMemo != null">
        #{locationMemo,jdbcType=VARCHAR},
      </if>
      <if test="locationMaster != null">
        #{locationMaster,jdbcType=VARCHAR},
      </if>
      <if test="locationSlave != null">
        #{locationSlave,jdbcType=VARCHAR},
      </if>
      <if test="locationModiTime != null">
        #{locationModiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="locationUserCreater != null">
        #{locationUserCreater,jdbcType=VARCHAR},
      </if>
      <if test="locationUserMaster != null">
        #{locationUserMaster,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mybatislearn.dao.model.LocationExample" resultType="java.lang.Long">
    select count(*) from location
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update location
    <set>
      <if test="record.locationId != null">
        location_id = #{record.locationId,jdbcType=VARCHAR},
      </if>
      <if test="record.locationName != null">
        location_name = #{record.locationName,jdbcType=VARCHAR},
      </if>
      <if test="record.locationMemo != null">
        location_memo = #{record.locationMemo,jdbcType=VARCHAR},
      </if>
      <if test="record.locationMaster != null">
        location_master = #{record.locationMaster,jdbcType=VARCHAR},
      </if>
      <if test="record.locationSlave != null">
        location_slave = #{record.locationSlave,jdbcType=VARCHAR},
      </if>
      <if test="record.locationModiTime != null">
        location_modi_time = #{record.locationModiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.locationUserCreater != null">
        location_user_creater = #{record.locationUserCreater,jdbcType=VARCHAR},
      </if>
      <if test="record.locationUserMaster != null">
        location_user_master = #{record.locationUserMaster,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update location
    set location_id = #{record.locationId,jdbcType=VARCHAR},
      location_name = #{record.locationName,jdbcType=VARCHAR},
      location_memo = #{record.locationMemo,jdbcType=VARCHAR},
      location_master = #{record.locationMaster,jdbcType=VARCHAR},
      location_slave = #{record.locationSlave,jdbcType=VARCHAR},
      location_modi_time = #{record.locationModiTime,jdbcType=TIMESTAMP},
      location_user_creater = #{record.locationUserCreater,jdbcType=VARCHAR},
      location_user_master = #{record.locationUserMaster,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mybatislearn.dao.model.Location">
    update location
    <set>
      <if test="locationName != null">
        location_name = #{locationName,jdbcType=VARCHAR},
      </if>
      <if test="locationMemo != null">
        location_memo = #{locationMemo,jdbcType=VARCHAR},
      </if>
      <if test="locationMaster != null">
        location_master = #{locationMaster,jdbcType=VARCHAR},
      </if>
      <if test="locationSlave != null">
        location_slave = #{locationSlave,jdbcType=VARCHAR},
      </if>
      <if test="locationModiTime != null">
        location_modi_time = #{locationModiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="locationUserCreater != null">
        location_user_creater = #{locationUserCreater,jdbcType=VARCHAR},
      </if>
      <if test="locationUserMaster != null">
        location_user_master = #{locationUserMaster,jdbcType=VARCHAR},
      </if>
    </set>
    where location_id = #{locationId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mybatislearn.dao.model.Location">
    update location
    set location_name = #{locationName,jdbcType=VARCHAR},
      location_memo = #{locationMemo,jdbcType=VARCHAR},
      location_master = #{locationMaster,jdbcType=VARCHAR},
      location_slave = #{locationSlave,jdbcType=VARCHAR},
      location_modi_time = #{locationModiTime,jdbcType=TIMESTAMP},
      location_user_creater = #{locationUserCreater,jdbcType=VARCHAR},
      location_user_master = #{locationUserMaster,jdbcType=VARCHAR}
    where location_id = #{locationId,jdbcType=VARCHAR}
  </update>
</mapper>