<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatislearn.dao.LocationMapper">
  <resultMap id="BaseResultMap" type="com.mybatislearn.dao.model.Location">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="location_name" jdbcType="VARCHAR" property="locationName" />
    <result column="location_memo" jdbcType="VARCHAR" property="locationMemo" />
    <result column="location_master" jdbcType="VARCHAR" property="locationMaster" />
    <result column="location_slave" jdbcType="VARCHAR" property="locationSlave" />
    <result column="modi_time" jdbcType="TIMESTAMP" property="modiTime" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="master" jdbcType="VARCHAR" property="master" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, location_name, location_memo, location_master, location_slave, modi_time, creater, 
    master
  </sql>
  <select id="selectByExample" parameterType="com.mybatislearn.dao.model.LocationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from location
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from location
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from location
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.mybatislearn.dao.model.LocationExample">
    delete from location
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mybatislearn.dao.model.Location">
    insert into location (id, location_name, location_memo, 
      location_master, location_slave, modi_time, 
      creater, master)
    values (#{id,jdbcType=VARCHAR}, #{locationName,jdbcType=VARCHAR}, #{locationMemo,jdbcType=VARCHAR}, 
      #{locationMaster,jdbcType=VARCHAR}, #{locationSlave,jdbcType=VARCHAR}, #{modiTime,jdbcType=TIMESTAMP}, 
      #{creater,jdbcType=VARCHAR}, #{master,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mybatislearn.dao.model.Location">
    insert into location
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="locationName != null">
        location_name,
      </if>
      <if test="locationMemo != null">
        location_memo,
      </if>
      <if test="locationMaster != null">
        location_master,
      </if>
      <if test="locationSlave != null">
        location_slave,
      </if>
      <if test="modiTime != null">
        modi_time,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="master != null">
        master,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="locationName != null">
        #{locationName,jdbcType=VARCHAR},
      </if>
      <if test="locationMemo != null">
        #{locationMemo,jdbcType=VARCHAR},
      </if>
      <if test="locationMaster != null">
        #{locationMaster,jdbcType=VARCHAR},
      </if>
      <if test="locationSlave != null">
        #{locationSlave,jdbcType=VARCHAR},
      </if>
      <if test="modiTime != null">
        #{modiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="master != null">
        #{master,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mybatislearn.dao.model.LocationExample" resultType="java.lang.Long">
    select count(*) from location
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update location
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.locationName != null">
        location_name = #{record.locationName,jdbcType=VARCHAR},
      </if>
      <if test="record.locationMemo != null">
        location_memo = #{record.locationMemo,jdbcType=VARCHAR},
      </if>
      <if test="record.locationMaster != null">
        location_master = #{record.locationMaster,jdbcType=VARCHAR},
      </if>
      <if test="record.locationSlave != null">
        location_slave = #{record.locationSlave,jdbcType=VARCHAR},
      </if>
      <if test="record.modiTime != null">
        modi_time = #{record.modiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creater != null">
        creater = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.master != null">
        master = #{record.master,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update location
    set id = #{record.id,jdbcType=VARCHAR},
      location_name = #{record.locationName,jdbcType=VARCHAR},
      location_memo = #{record.locationMemo,jdbcType=VARCHAR},
      location_master = #{record.locationMaster,jdbcType=VARCHAR},
      location_slave = #{record.locationSlave,jdbcType=VARCHAR},
      modi_time = #{record.modiTime,jdbcType=TIMESTAMP},
      creater = #{record.creater,jdbcType=VARCHAR},
      master = #{record.master,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mybatislearn.dao.model.Location">
    update location
    <set>
      <if test="locationName != null">
        location_name = #{locationName,jdbcType=VARCHAR},
      </if>
      <if test="locationMemo != null">
        location_memo = #{locationMemo,jdbcType=VARCHAR},
      </if>
      <if test="locationMaster != null">
        location_master = #{locationMaster,jdbcType=VARCHAR},
      </if>
      <if test="locationSlave != null">
        location_slave = #{locationSlave,jdbcType=VARCHAR},
      </if>
      <if test="modiTime != null">
        modi_time = #{modiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="master != null">
        master = #{master,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mybatislearn.dao.model.Location">
    update location
    set location_name = #{locationName,jdbcType=VARCHAR},
      location_memo = #{locationMemo,jdbcType=VARCHAR},
      location_master = #{locationMaster,jdbcType=VARCHAR},
      location_slave = #{locationSlave,jdbcType=VARCHAR},
      modi_time = #{modiTime,jdbcType=TIMESTAMP},
      creater = #{creater,jdbcType=VARCHAR},
      master = #{master,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>