<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatislearn.dao.ThingandtypeMapper">
  <resultMap id="BaseResultMap" type="com.mybatislearn.dao.model.Thingandtype">
    <id column="thingandtype_id" jdbcType="VARCHAR" property="thingandtypeId" />
    <result column="thingandtype_thing_id" jdbcType="VARCHAR" property="thingandtypeThingId" />
    <result column="thingandtype_thingtype_id" jdbcType="VARCHAR" property="thingandtypeThingtypeId" />
    <result column="thingandtype_modi_time" jdbcType="TIMESTAMP" property="thingandtypeModiTime" />
    <result column="thingandtype_user_creater" jdbcType="VARCHAR" property="thingandtypeUserCreater" />
    <result column="thingandtype_user_master" jdbcType="VARCHAR" property="thingandtypeUserMaster" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    thingandtype_id, thingandtype_thing_id, thingandtype_thingtype_id, thingandtype_modi_time, 
    thingandtype_user_creater, thingandtype_user_master
  </sql>
  <select id="selectByExample" parameterType="com.mybatislearn.dao.model.ThingandtypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from thingandtype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from thingandtype
    where thingandtype_id = #{thingandtypeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from thingandtype
    where thingandtype_id = #{thingandtypeId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.mybatislearn.dao.model.ThingandtypeExample">
    delete from thingandtype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mybatislearn.dao.model.Thingandtype">
    insert into thingandtype (thingandtype_id, thingandtype_thing_id, 
      thingandtype_thingtype_id, thingandtype_modi_time, 
      thingandtype_user_creater, thingandtype_user_master
      )
    values (#{thingandtypeId,jdbcType=VARCHAR}, #{thingandtypeThingId,jdbcType=VARCHAR}, 
      #{thingandtypeThingtypeId,jdbcType=VARCHAR}, #{thingandtypeModiTime,jdbcType=TIMESTAMP}, 
      #{thingandtypeUserCreater,jdbcType=VARCHAR}, #{thingandtypeUserMaster,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mybatislearn.dao.model.Thingandtype">
    insert into thingandtype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="thingandtypeId != null">
        thingandtype_id,
      </if>
      <if test="thingandtypeThingId != null">
        thingandtype_thing_id,
      </if>
      <if test="thingandtypeThingtypeId != null">
        thingandtype_thingtype_id,
      </if>
      <if test="thingandtypeModiTime != null">
        thingandtype_modi_time,
      </if>
      <if test="thingandtypeUserCreater != null">
        thingandtype_user_creater,
      </if>
      <if test="thingandtypeUserMaster != null">
        thingandtype_user_master,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="thingandtypeId != null">
        #{thingandtypeId,jdbcType=VARCHAR},
      </if>
      <if test="thingandtypeThingId != null">
        #{thingandtypeThingId,jdbcType=VARCHAR},
      </if>
      <if test="thingandtypeThingtypeId != null">
        #{thingandtypeThingtypeId,jdbcType=VARCHAR},
      </if>
      <if test="thingandtypeModiTime != null">
        #{thingandtypeModiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="thingandtypeUserCreater != null">
        #{thingandtypeUserCreater,jdbcType=VARCHAR},
      </if>
      <if test="thingandtypeUserMaster != null">
        #{thingandtypeUserMaster,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mybatislearn.dao.model.ThingandtypeExample" resultType="java.lang.Long">
    select count(*) from thingandtype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update thingandtype
    <set>
      <if test="record.thingandtypeId != null">
        thingandtype_id = #{record.thingandtypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.thingandtypeThingId != null">
        thingandtype_thing_id = #{record.thingandtypeThingId,jdbcType=VARCHAR},
      </if>
      <if test="record.thingandtypeThingtypeId != null">
        thingandtype_thingtype_id = #{record.thingandtypeThingtypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.thingandtypeModiTime != null">
        thingandtype_modi_time = #{record.thingandtypeModiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.thingandtypeUserCreater != null">
        thingandtype_user_creater = #{record.thingandtypeUserCreater,jdbcType=VARCHAR},
      </if>
      <if test="record.thingandtypeUserMaster != null">
        thingandtype_user_master = #{record.thingandtypeUserMaster,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update thingandtype
    set thingandtype_id = #{record.thingandtypeId,jdbcType=VARCHAR},
      thingandtype_thing_id = #{record.thingandtypeThingId,jdbcType=VARCHAR},
      thingandtype_thingtype_id = #{record.thingandtypeThingtypeId,jdbcType=VARCHAR},
      thingandtype_modi_time = #{record.thingandtypeModiTime,jdbcType=TIMESTAMP},
      thingandtype_user_creater = #{record.thingandtypeUserCreater,jdbcType=VARCHAR},
      thingandtype_user_master = #{record.thingandtypeUserMaster,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mybatislearn.dao.model.Thingandtype">
    update thingandtype
    <set>
      <if test="thingandtypeThingId != null">
        thingandtype_thing_id = #{thingandtypeThingId,jdbcType=VARCHAR},
      </if>
      <if test="thingandtypeThingtypeId != null">
        thingandtype_thingtype_id = #{thingandtypeThingtypeId,jdbcType=VARCHAR},
      </if>
      <if test="thingandtypeModiTime != null">
        thingandtype_modi_time = #{thingandtypeModiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="thingandtypeUserCreater != null">
        thingandtype_user_creater = #{thingandtypeUserCreater,jdbcType=VARCHAR},
      </if>
      <if test="thingandtypeUserMaster != null">
        thingandtype_user_master = #{thingandtypeUserMaster,jdbcType=VARCHAR},
      </if>
    </set>
    where thingandtype_id = #{thingandtypeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mybatislearn.dao.model.Thingandtype">
    update thingandtype
    set thingandtype_thing_id = #{thingandtypeThingId,jdbcType=VARCHAR},
      thingandtype_thingtype_id = #{thingandtypeThingtypeId,jdbcType=VARCHAR},
      thingandtype_modi_time = #{thingandtypeModiTime,jdbcType=TIMESTAMP},
      thingandtype_user_creater = #{thingandtypeUserCreater,jdbcType=VARCHAR},
      thingandtype_user_master = #{thingandtypeUserMaster,jdbcType=VARCHAR}
    where thingandtype_id = #{thingandtypeId,jdbcType=VARCHAR}
  </update>
</mapper>