<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatislearn.dao.ThingMapper">
  <resultMap id="BaseResultMap" type="com.mybatislearn.dao.model.Thing">
    <id column="thing_id" jdbcType="VARCHAR" property="thingId" />
    <result column="thing_name" jdbcType="VARCHAR" property="thingName" />
    <result column="thing_status" jdbcType="VARCHAR" property="thingStatus" />
    <result column="thing_money" jdbcType="DOUBLE" property="thingMoney" />
    <result column="thing_num" jdbcType="INTEGER" property="thingNum" />
    <result column="thing_user_master" jdbcType="VARCHAR" property="thingUserMaster" />
    <result column="thing_user_owner" jdbcType="VARCHAR" property="thingUserOwner" />
    <result column="thing_modi_time" jdbcType="TIMESTAMP" property="thingModiTime" />
    <result column="thing_user_creater" jdbcType="VARCHAR" property="thingUserCreater" />
  </resultMap>
  <resultMap id="WcpUserBaseResultMap" type="com.mybatislearn.dao.dto.ThingUser"
             extends="com.mybatislearn.dao.ThingMapper.BaseResultMap">
    <!--    <association property="user2" resultMap="com.mybatislearn.dao.UserMapper.BaseResultMap"/>-->
    <association property="user2" column="thing_user_master" select="com.mybatislearn.dao.UserMapper.selectByPrimaryKey"/>
    <association property="user3" column="thing_user_creater" select="com.mybatislearn.dao.UserMapper.selectByPrimaryKey"/>
    <!--    <collection property="user2" ofType="com.mybatislearn.dao.model.User2" javaType="list">
          <id column="user_id" jdbcType="VARCHAR" property="userId" />
          <result column="user_name" jdbcType="VARCHAR" property="userName" />
          <result column="mobile" jdbcType="VARCHAR" property="mobile" />
          <result column="email" jdbcType="VARCHAR" property="email" />
          <result column="role" jdbcType="VARCHAR" property="role" />
          <result column="user_master" jdbcType="VARCHAR" property="userMaster" />
          <result column="user_slave" jdbcType="VARCHAR" property="userSlave" />
          <result column="modi_time" jdbcType="TIMESTAMP" property="modiTime" />
        </collection>-->
    <!--    这个是加前缀，防止连表重名的-->
    <!--    <collection property="user2" ofType="com.mybatislearn.dao.model.User2" columnPrefix="user2_"/>-->
  </resultMap>
  <resultMap id="WcpThingTypeBaseResultMap" type="com.mybatislearn.dao.dto.ThingWithThingtypeWithUserWithLocation"
             extends="com.mybatislearn.dao.ThingMapper.BaseResultMap">
    <association property="thingtypesList" resultMap="com.mybatislearn.dao.ThingtypeMapper.BaseResultMap"/>
    <association property="thingLocationList" resultMap="com.mybatislearn.dao.LocationMapper.BaseResultMap"/>
    <association property="thingUserMasterObject" column="thing_user_master" select="com.mybatislearn.dao.UserMapper.selectByPrimaryKey"/>
    <association property="thingUserCreaterObject" column="thing_user_creater" select="com.mybatislearn.dao.UserMapper.selectByPrimaryKey"/>
  </resultMap>


  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    thing_id, thing_name, thing_status, thing_money, thing_num, thing_user_master, thing_user_owner,
    thing_modi_time, thing_user_creater
  </sql>
  <select id="selectByExample" parameterType="com.mybatislearn.dao.model.ThingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from thing
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from thing
    where thing_id = #{thingId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from thing
    where thing_id = #{thingId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.mybatislearn.dao.model.ThingExample">
    delete from thing
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mybatislearn.dao.model.Thing">
    insert into thing (thing_id, thing_name, thing_status,
      thing_money, thing_num, thing_user_master,
      thing_user_owner, thing_modi_time, thing_user_creater
      )
    values (#{thingId,jdbcType=VARCHAR}, #{thingName,jdbcType=VARCHAR}, #{thingStatus,jdbcType=VARCHAR},
      #{thingMoney,jdbcType=DOUBLE}, #{thingNum,jdbcType=INTEGER}, #{thingUserMaster,jdbcType=VARCHAR},
      #{thingUserOwner,jdbcType=VARCHAR}, #{thingModiTime,jdbcType=TIMESTAMP}, #{thingUserCreater,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mybatislearn.dao.model.Thing">
    insert into thing
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="thingId != null">
        thing_id,
      </if>
      <if test="thingName != null">
        thing_name,
      </if>
      <if test="thingStatus != null">
        thing_status,
      </if>
      <if test="thingMoney != null">
        thing_money,
      </if>
      <if test="thingNum != null">
        thing_num,
      </if>
      <if test="thingUserMaster != null">
        thing_user_master,
      </if>
      <if test="thingUserOwner != null">
        thing_user_owner,
      </if>
      <if test="thingModiTime != null">
        thing_modi_time,
      </if>
      <if test="thingUserCreater != null">
        thing_user_creater,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="thingId != null">
        #{thingId,jdbcType=VARCHAR},
      </if>
      <if test="thingName != null">
        #{thingName,jdbcType=VARCHAR},
      </if>
      <if test="thingStatus != null">
        #{thingStatus,jdbcType=VARCHAR},
      </if>
      <if test="thingMoney != null">
        #{thingMoney,jdbcType=DOUBLE},
      </if>
      <if test="thingNum != null">
        #{thingNum,jdbcType=INTEGER},
      </if>
      <if test="thingUserMaster != null">
        #{thingUserMaster,jdbcType=VARCHAR},
      </if>
      <if test="thingUserOwner != null">
        #{thingUserOwner,jdbcType=VARCHAR},
      </if>
      <if test="thingModiTime != null">
        #{thingModiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="thingUserCreater != null">
        #{thingUserCreater,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mybatislearn.dao.model.ThingExample" resultType="java.lang.Long">
    select count(*) from thing
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update thing
    <set>
      <if test="record.thingId != null">
        thing_id = #{record.thingId,jdbcType=VARCHAR},
      </if>
      <if test="record.thingName != null">
        thing_name = #{record.thingName,jdbcType=VARCHAR},
      </if>
      <if test="record.thingStatus != null">
        thing_status = #{record.thingStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.thingMoney != null">
        thing_money = #{record.thingMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.thingNum != null">
        thing_num = #{record.thingNum,jdbcType=INTEGER},
      </if>
      <if test="record.thingUserMaster != null">
        thing_user_master = #{record.thingUserMaster,jdbcType=VARCHAR},
      </if>
      <if test="record.thingUserOwner != null">
        thing_user_owner = #{record.thingUserOwner,jdbcType=VARCHAR},
      </if>
      <if test="record.thingModiTime != null">
        thing_modi_time = #{record.thingModiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.thingUserCreater != null">
        thing_user_creater = #{record.thingUserCreater,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update thing
    set thing_id = #{record.thingId,jdbcType=VARCHAR},
      thing_name = #{record.thingName,jdbcType=VARCHAR},
      thing_status = #{record.thingStatus,jdbcType=VARCHAR},
      thing_money = #{record.thingMoney,jdbcType=DOUBLE},
      thing_num = #{record.thingNum,jdbcType=INTEGER},
      thing_user_master = #{record.thingUserMaster,jdbcType=VARCHAR},
      thing_user_owner = #{record.thingUserOwner,jdbcType=VARCHAR},
      thing_modi_time = #{record.thingModiTime,jdbcType=TIMESTAMP},
      thing_user_creater = #{record.thingUserCreater,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mybatislearn.dao.model.Thing">
    update thing
    <set>
      <if test="thingName != null">
        thing_name = #{thingName,jdbcType=VARCHAR},
      </if>
      <if test="thingStatus != null">
        thing_status = #{thingStatus,jdbcType=VARCHAR},
      </if>
      <if test="thingMoney != null">
        thing_money = #{thingMoney,jdbcType=DOUBLE},
      </if>
      <if test="thingNum != null">
        thing_num = #{thingNum,jdbcType=INTEGER},
      </if>
      <if test="thingUserMaster != null">
        thing_user_master = #{thingUserMaster,jdbcType=VARCHAR},
      </if>
      <if test="thingUserOwner != null">
        thing_user_owner = #{thingUserOwner,jdbcType=VARCHAR},
      </if>
      <if test="thingModiTime != null">
        thing_modi_time = #{thingModiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="thingUserCreater != null">
        thing_user_creater = #{thingUserCreater,jdbcType=VARCHAR},
      </if>
    </set>
    where thing_id = #{thingId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mybatislearn.dao.model.Thing">
    update thing
    set thing_name = #{thingName,jdbcType=VARCHAR},
      thing_status = #{thingStatus,jdbcType=VARCHAR},
      thing_money = #{thingMoney,jdbcType=DOUBLE},
      thing_num = #{thingNum,jdbcType=INTEGER},
      thing_user_master = #{thingUserMaster,jdbcType=VARCHAR},
      thing_user_owner = #{thingUserOwner,jdbcType=VARCHAR},
      thing_modi_time = #{thingModiTime,jdbcType=TIMESTAMP},
      thing_user_creater = #{thingUserCreater,jdbcType=VARCHAR}
    where thing_id = #{thingId,jdbcType=VARCHAR}
  </update>

  <select id="selectByExampleWithUser" parameterType="com.mybatislearn.dao.model.ThingExample" resultMap="WcpUserBaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from thing
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <!--多对多-->
  <select id="selectByExampleWithThingtypeWithUserWithLocation" parameterType="com.mybatislearn.dao.model.ThingExample" resultMap="WcpThingTypeBaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    thing.thing_id,
    thing.thing_name,
    thing.thing_status,
    thing.thing_money,
    thing.thing_num,
    thing.thing_user_master,
    thing.thing_user_owner,
    thing.thing_modi_time,
    thing.thing_user_creater,
    thingtype.thingtype_id,
    thingtype.thingtype_name,
    thingtype.thingtype_user_master,
    thingtype.thingtype_user_creater,
    thingtype.thingtype_modi_time
    FROM
    thing
    INNER JOIN thingandtype ON thingandtype.thingandtype_thing_id = thing.thing_id
    INNER JOIN thingtype ON thingandtype.thingandtype_thingtype_id = thingtype.thingtype_id
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <!--多对多-->
  <select id="selectByExampleWithLocation" parameterType="com.mybatislearn.dao.model.ThingExample" resultMap="WcpThingTypeBaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    thing.thing_id,
    thing.thing_name,
    thing.thing_status,
    thing.thing_money,
    thing.thing_num,
    thing.thing_user_master,
    thing.thing_user_owner,
    thing.thing_modi_time,
    thing.thing_user_creater,
    location.location_id,
    location.location_name,
    location.location_memo,
    location.location_master,
    location.location_slave,
    location.location_modi_time,
    location.location_user_creater,
    location.location_user_master
    FROM
    thing
    INNER JOIN thingandlocation ON thingandlocation.thingandlocation_thing_id = thing.thing_id
    INNER JOIN location ON thingandlocation.thingandlocation_location_id = location.location_id
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>
