<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatislearn.dao.ThingandlocationMapper">
  <resultMap id="BaseResultMap" type="com.mybatislearn.dao.model.Thingandlocation">
    <id column="thingandlocation_id" jdbcType="VARCHAR" property="thingandlocationId" />
    <result column="thingandlocation_thing_id" jdbcType="VARCHAR" property="thingandlocationThingId" />
    <result column="thingandlocation_location_id" jdbcType="VARCHAR" property="thingandlocationLocationId" />
    <result column="thingandlocation_user_creater" jdbcType="VARCHAR" property="thingandlocationUserCreater" />
    <result column="thingandlocation_user_master" jdbcType="VARCHAR" property="thingandlocationUserMaster" />
    <result column="thingandlocation_modi_time" jdbcType="TIMESTAMP" property="thingandlocationModiTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    thingandlocation_id, thingandlocation_thing_id, thingandlocation_location_id, thingandlocation_user_creater, 
    thingandlocation_user_master, thingandlocation_modi_time
  </sql>
  <select id="selectByExample" parameterType="com.mybatislearn.dao.model.ThingandlocationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from thingandlocation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from thingandlocation
    where thingandlocation_id = #{thingandlocationId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from thingandlocation
    where thingandlocation_id = #{thingandlocationId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.mybatislearn.dao.model.ThingandlocationExample">
    delete from thingandlocation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mybatislearn.dao.model.Thingandlocation">
    insert into thingandlocation (thingandlocation_id, thingandlocation_thing_id, 
      thingandlocation_location_id, thingandlocation_user_creater, 
      thingandlocation_user_master, thingandlocation_modi_time
      )
    values (#{thingandlocationId,jdbcType=VARCHAR}, #{thingandlocationThingId,jdbcType=VARCHAR}, 
      #{thingandlocationLocationId,jdbcType=VARCHAR}, #{thingandlocationUserCreater,jdbcType=VARCHAR}, 
      #{thingandlocationUserMaster,jdbcType=VARCHAR}, #{thingandlocationModiTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mybatislearn.dao.model.Thingandlocation">
    insert into thingandlocation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="thingandlocationId != null">
        thingandlocation_id,
      </if>
      <if test="thingandlocationThingId != null">
        thingandlocation_thing_id,
      </if>
      <if test="thingandlocationLocationId != null">
        thingandlocation_location_id,
      </if>
      <if test="thingandlocationUserCreater != null">
        thingandlocation_user_creater,
      </if>
      <if test="thingandlocationUserMaster != null">
        thingandlocation_user_master,
      </if>
      <if test="thingandlocationModiTime != null">
        thingandlocation_modi_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="thingandlocationId != null">
        #{thingandlocationId,jdbcType=VARCHAR},
      </if>
      <if test="thingandlocationThingId != null">
        #{thingandlocationThingId,jdbcType=VARCHAR},
      </if>
      <if test="thingandlocationLocationId != null">
        #{thingandlocationLocationId,jdbcType=VARCHAR},
      </if>
      <if test="thingandlocationUserCreater != null">
        #{thingandlocationUserCreater,jdbcType=VARCHAR},
      </if>
      <if test="thingandlocationUserMaster != null">
        #{thingandlocationUserMaster,jdbcType=VARCHAR},
      </if>
      <if test="thingandlocationModiTime != null">
        #{thingandlocationModiTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mybatislearn.dao.model.ThingandlocationExample" resultType="java.lang.Long">
    select count(*) from thingandlocation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update thingandlocation
    <set>
      <if test="record.thingandlocationId != null">
        thingandlocation_id = #{record.thingandlocationId,jdbcType=VARCHAR},
      </if>
      <if test="record.thingandlocationThingId != null">
        thingandlocation_thing_id = #{record.thingandlocationThingId,jdbcType=VARCHAR},
      </if>
      <if test="record.thingandlocationLocationId != null">
        thingandlocation_location_id = #{record.thingandlocationLocationId,jdbcType=VARCHAR},
      </if>
      <if test="record.thingandlocationUserCreater != null">
        thingandlocation_user_creater = #{record.thingandlocationUserCreater,jdbcType=VARCHAR},
      </if>
      <if test="record.thingandlocationUserMaster != null">
        thingandlocation_user_master = #{record.thingandlocationUserMaster,jdbcType=VARCHAR},
      </if>
      <if test="record.thingandlocationModiTime != null">
        thingandlocation_modi_time = #{record.thingandlocationModiTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update thingandlocation
    set thingandlocation_id = #{record.thingandlocationId,jdbcType=VARCHAR},
      thingandlocation_thing_id = #{record.thingandlocationThingId,jdbcType=VARCHAR},
      thingandlocation_location_id = #{record.thingandlocationLocationId,jdbcType=VARCHAR},
      thingandlocation_user_creater = #{record.thingandlocationUserCreater,jdbcType=VARCHAR},
      thingandlocation_user_master = #{record.thingandlocationUserMaster,jdbcType=VARCHAR},
      thingandlocation_modi_time = #{record.thingandlocationModiTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mybatislearn.dao.model.Thingandlocation">
    update thingandlocation
    <set>
      <if test="thingandlocationThingId != null">
        thingandlocation_thing_id = #{thingandlocationThingId,jdbcType=VARCHAR},
      </if>
      <if test="thingandlocationLocationId != null">
        thingandlocation_location_id = #{thingandlocationLocationId,jdbcType=VARCHAR},
      </if>
      <if test="thingandlocationUserCreater != null">
        thingandlocation_user_creater = #{thingandlocationUserCreater,jdbcType=VARCHAR},
      </if>
      <if test="thingandlocationUserMaster != null">
        thingandlocation_user_master = #{thingandlocationUserMaster,jdbcType=VARCHAR},
      </if>
      <if test="thingandlocationModiTime != null">
        thingandlocation_modi_time = #{thingandlocationModiTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where thingandlocation_id = #{thingandlocationId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mybatislearn.dao.model.Thingandlocation">
    update thingandlocation
    set thingandlocation_thing_id = #{thingandlocationThingId,jdbcType=VARCHAR},
      thingandlocation_location_id = #{thingandlocationLocationId,jdbcType=VARCHAR},
      thingandlocation_user_creater = #{thingandlocationUserCreater,jdbcType=VARCHAR},
      thingandlocation_user_master = #{thingandlocationUserMaster,jdbcType=VARCHAR},
      thingandlocation_modi_time = #{thingandlocationModiTime,jdbcType=TIMESTAMP}
    where thingandlocation_id = #{thingandlocationId,jdbcType=VARCHAR}
  </update>
</mapper>