<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatislearn.dao.ThingtypeMapper">
  <resultMap id="BaseResultMap" type="com.mybatislearn.dao.model.Thingtype">
    <id column="thingtype_id" jdbcType="VARCHAR" property="thingtypeId" />
    <result column="thingtype_name" jdbcType="VARCHAR" property="thingtypeName" />
    <result column="thingtype_modi_time" jdbcType="TIMESTAMP" property="thingtypeModiTime" />
    <result column="thingtype_user_creater" jdbcType="VARCHAR" property="thingtypeUserCreater" />
    <result column="thingtype_user_master" jdbcType="VARCHAR" property="thingtypeUserMaster" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    thingtype_id, thingtype_name, thingtype_modi_time, thingtype_user_creater, thingtype_user_master
  </sql>
  <select id="selectByExample" parameterType="com.mybatislearn.dao.model.ThingtypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from thingtype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from thingtype
    where thingtype_id = #{thingtypeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from thingtype
    where thingtype_id = #{thingtypeId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.mybatislearn.dao.model.ThingtypeExample">
    delete from thingtype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mybatislearn.dao.model.Thingtype">
    insert into thingtype (thingtype_id, thingtype_name, thingtype_modi_time, 
      thingtype_user_creater, thingtype_user_master
      )
    values (#{thingtypeId,jdbcType=VARCHAR}, #{thingtypeName,jdbcType=VARCHAR}, #{thingtypeModiTime,jdbcType=TIMESTAMP}, 
      #{thingtypeUserCreater,jdbcType=VARCHAR}, #{thingtypeUserMaster,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mybatislearn.dao.model.Thingtype">
    insert into thingtype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="thingtypeId != null">
        thingtype_id,
      </if>
      <if test="thingtypeName != null">
        thingtype_name,
      </if>
      <if test="thingtypeModiTime != null">
        thingtype_modi_time,
      </if>
      <if test="thingtypeUserCreater != null">
        thingtype_user_creater,
      </if>
      <if test="thingtypeUserMaster != null">
        thingtype_user_master,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="thingtypeId != null">
        #{thingtypeId,jdbcType=VARCHAR},
      </if>
      <if test="thingtypeName != null">
        #{thingtypeName,jdbcType=VARCHAR},
      </if>
      <if test="thingtypeModiTime != null">
        #{thingtypeModiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="thingtypeUserCreater != null">
        #{thingtypeUserCreater,jdbcType=VARCHAR},
      </if>
      <if test="thingtypeUserMaster != null">
        #{thingtypeUserMaster,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mybatislearn.dao.model.ThingtypeExample" resultType="java.lang.Long">
    select count(*) from thingtype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update thingtype
    <set>
      <if test="record.thingtypeId != null">
        thingtype_id = #{record.thingtypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.thingtypeName != null">
        thingtype_name = #{record.thingtypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.thingtypeModiTime != null">
        thingtype_modi_time = #{record.thingtypeModiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.thingtypeUserCreater != null">
        thingtype_user_creater = #{record.thingtypeUserCreater,jdbcType=VARCHAR},
      </if>
      <if test="record.thingtypeUserMaster != null">
        thingtype_user_master = #{record.thingtypeUserMaster,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update thingtype
    set thingtype_id = #{record.thingtypeId,jdbcType=VARCHAR},
      thingtype_name = #{record.thingtypeName,jdbcType=VARCHAR},
      thingtype_modi_time = #{record.thingtypeModiTime,jdbcType=TIMESTAMP},
      thingtype_user_creater = #{record.thingtypeUserCreater,jdbcType=VARCHAR},
      thingtype_user_master = #{record.thingtypeUserMaster,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mybatislearn.dao.model.Thingtype">
    update thingtype
    <set>
      <if test="thingtypeName != null">
        thingtype_name = #{thingtypeName,jdbcType=VARCHAR},
      </if>
      <if test="thingtypeModiTime != null">
        thingtype_modi_time = #{thingtypeModiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="thingtypeUserCreater != null">
        thingtype_user_creater = #{thingtypeUserCreater,jdbcType=VARCHAR},
      </if>
      <if test="thingtypeUserMaster != null">
        thingtype_user_master = #{thingtypeUserMaster,jdbcType=VARCHAR},
      </if>
    </set>
    where thingtype_id = #{thingtypeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mybatislearn.dao.model.Thingtype">
    update thingtype
    set thingtype_name = #{thingtypeName,jdbcType=VARCHAR},
      thingtype_modi_time = #{thingtypeModiTime,jdbcType=TIMESTAMP},
      thingtype_user_creater = #{thingtypeUserCreater,jdbcType=VARCHAR},
      thingtype_user_master = #{thingtypeUserMaster,jdbcType=VARCHAR}
    where thingtype_id = #{thingtypeId,jdbcType=VARCHAR}
  </update>
</mapper>